.App-header {
  background-color: #609966;
  /* color: #edf1d6; */
}

.App-title {
  font-weight: 600;
  font-size: x-large;
  color: #edf1d6 !important;
  margin-bottom: 0.25rem;
  margin-right: 0.8rem;
  text-decoration: none;
}

.App-navigation {
  margin: 0.8rem 0.5rem;
  text-decoration: none;
  color: #edf1d6 !important;
}

.App-navigation:hover {
  text-decoration: underline;
}

body {
  background-color: #eeeeee !important;
  padding: 5rem;
}

.table-card {
  background-color: white;
  margin: 4rem 2rem;
  padding: 2rem 2rem 5rem;
  border-radius: 1rem;
}

thead {
  background-color: #9dc08b;
  color: white;
}

#dropdown-basic {
  border-radius: 1rem;
  background-color: #609966;
  border: none;
  color: #edf1d6;
  font-weight: 450;
}

.profile-pic {
  border-radius: 50%;
  margin: 0.2rem 0.8rem;
}

.fill-button {
  background-color: #609966 !important;
  color: white;
  padding: 0.8rem;
  border: none !important;
  border-radius: 1rem;
}

.fill-button:hover {
  background-color: white !important;
  color: #609966 !important;
  /* padding: 0.8rem; */
  border: solid #609966 1px !important;
  /* border-radius: 1rem; */
}

.edit-button {
  color: white !important;
  margin: 0.2rem;
}

.delete-button {
  margin: 0.2rem;
}

.add-alternative {
  /* margin: auto; */
  /* float: right; */
  float: right;
}

.hitung {
  margin: 0.5rem 1rem 1rem;
  float: right;
  padding: 0.5rem 1rem !important;
}

.title-hasil {
  margin-bottom: 1rem;
}

.login-card {
  background-color: white;
  width: 30%;
  padding: 1.5rem;
  margin: auto;
  margin-top: 5rem;
  border-radius: 1rem;
  text-align: center;
}

.login-title {
  margin-bottom: 1.2rem;
}

.input-login {
  margin: 0.6rem 0;
  width: 90%;
}

.login-button {
  margin: 1rem 0 0;
}

.or-wrap {
  margin: 1rem;
}

.login-or {
  display: flex;
  flex-direction: row;
}
.login-or:before,
.login-or:after {
  content: '';
  flex: 1 1;
  border-bottom: 1px solid;
  margin: auto;
}
.login-or:before {
  margin-right: 10px;
}
.login-or:after {
  margin-left: 10px;
}

.input-alternative {
  margin: 0.5rem;
  width: 90%;
  padding: 0.3rem;
}

/*adding row numbers through css*/
.matrix-table {
  counter-reset: serial-number; /* Set the serial number counter to 0 */
}

.matrix-table td:first-child:before {
  counter-increment: serial-number; /* Increment the serial number counter */
  content: counter(serial-number); /* Display the counter */
}
